.container{
    background-color: white;
    height: 4000px;

}
#landing{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.content{
    border: solid 1px ;
    height: auto;
    background-color: rgb(250, 241, 244);

}
.innercontainer{
    background-color: rgb(253, 254, 255);
    border: solid 1px rgb(253, 254, 255);
    border-radius: 10px;
    padding: auto;
    height: 800px;
}
#carra{
    font-size: larger;
    font-family:fantasy 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.headcontainer{
     display: flex;
     justify-content: space-between;
}

.elevate{
    display: flex;
    margin-top: 90px;
}
#heading{
    
}
.options li{
    list-style: none;
    display: inline;
    gap: 6px;

}
#click{
    display: flex;
    gap: 45px;
    margin-bottom: auto;

}
#start{
    width: 100px;
    height:38px ;
    background-color: rgb(73, 72, 73);
    margin-bottom: 6px;
    margin-left: 5px;
    border: none;
    border-radius: 40px;
    font-size: 10px;
    color: white;
    cursor: pointer;
}

.fa-circle-play{
    position: absolute;
    left: 21%;
    color: rgb(174, 173, 173);
}
.image1{
    width: 70%;
    height: 30px;
    padding-right: 70px;
}
.image1 img{
    border:solid 1px;
    border-radius: 5%;
    height: 600px;
    margin-left: 800px;
    margin-bottom: 80px;
}
.numbers{
    display: flex;
    gap: 45px;
    padding-left: 90px;
    font-size: 35px;
    padding-top: 20px;
}
.description{
    display: flex;
    gap: 35px;
    padding-left: 100px;
    font-size: 12px;
}
.icons{
    display:flex ;
    margin-top: 100px;
    font-size: xx-large;
    gap:70px;
    padding-left: 7%;
    margin-bottom: 20%;
}
 p{
    font-size: small;
    margin-bottom: 12px;
    padding-left: 12px;

}
 p12{
    padding-left: 80px;

}
.pots{
    display: flex;
    margin-top: 3%;
    padding-left: 7%;
    gap: 40px;
}
.pot1{
    width: 22%;
    position: relative;
    border-radius: 5%;
    border: solid 1px;
}
.pot2{
    border-radius: 5%;
    border: solid 1px;
}
.pot3{
    border: solid 1px;
    border-radius: 5%;
}
.pot4{
    border: solid 1px;
    border-radius: 5%;
    position: relative;
}
.type{
    display: flex;
    gap: 110px;
    padding-left: 7%;
    margin-top: 2%;
}
.price{
    display: flex;
    gap: 24%;
    padding-left: 7%;
    margin-top: 5px;
}
.in{
    position: absolute;
    display: flex;
    gap: 4000px;
    left: 240px;
    top: 1400px;
    padding-left: 20px;
}
#label{
    color: red;
}
#discount{
    font-weight: bold;
}
.out{
    position: absolute;
    display: flex;
    gap: 105px;
    right: px;
    top: 1400px;
    padding-left: 20px;
}
#label_1{
    color: red;
}
#discount_1{
    font-weight: bold;
}
.restyle{
    padding-left: 30%;
    margin-top: 18%;
    margin-bottom: 10%;
}
.pot5{
    display: flex;
}
.offer{
    padding-top: 70px;
}
.offer h1{
    font-size: 300%;
}
.offer p1{
    font-size: 86%;

}
.shop{
    margin-top: 9%;
    border-radius: 40px;
    height: 58px;
    width: 137px;
    background-color: white;
    color: black;
    border: solid 2px;
}
.pot6{
    display: flex;
    margin-top: 18px;
    gap: 15%;
}
.buy{
    padding-top: 30px;
    padding-left: 70px;
}
.buy h1{
    font-size: 290%;
}
